.containerAbout {
    display: flex;
    max-width: 82em;
    margin: auto;
    padding-top: 3em;

    @media screen and (max-width: 1030px) {
        flex-direction: column;
        align-items: center;
    }

    .detailAbout {
        margin: 1em;

        h2 {
            text-align: center;
            font-size: 2em;
            font-weight: 200;

            @media screen and (max-width: 720px) {
                font-size: 1.8em;
                margin: 0em 1em;
            }
        }

        .row {
            display: flex;
            padding: 2em;

            @media screen and (max-width: 720px) {
                flex-direction: column
            }

            .colUno {
                padding: 1em;
                border-right: 1px solid gray;

                @media screen and (max-width: 720px) {
                    border-right: none;
                    border-bottom: 1px solid gray;
                }
            }

            .colDos {
                padding: 1em;
            }

            .textAbout {
                padding: 1em;
                font-weight: 200;

                @media screen and (max-width: 720px) {
                    padding: 0em;
                    font-size: 0.9em;
                }
            }
        }
    }

    .imgAbout {
        margin: 1em;
        text-align: center;
        display: flex;
        justify-content: center;

        @media screen and (max-width: 720px) {
            margin: 0.5em 1em 2em 1em;
        }

        img {
            border-radius: 5px;

            @media screen and (max-width: 720px) {
                width: 50%;
            }
        }
    }
}