.containerCount{
  padding: 1em;
}
.contador {
  display: flex;
  justify-content: center;

  .contadorSimbol {
    border: 2px solid #c6b497;
    padding: 0em 0.5em;
    margin: 0.5em;
  }

  p {
    align-self: center;
  }
}

.addCarrito {
  text-align: center;
  @extend %boton
}