
    .card {
        margin-bottom: 2em;
    
        img {
            border-radius: 10px;
            width: 250px;
            margin-bottom: 1em;
        }
        p {
            padding-bottom: 0.4em;
           }
        .button {
            @extend %boton;    
        }
    }
