.navbar {
    box-shadow: 0 0.5rem 1rem rgba(49, 48, 48, 0.788);
    position: sticky;
    top: 0;
    background-color: #ebebdb;
    padding: 0.5em;
   
    .textNavbar{ 
        max-width: 76em;
        margin: auto;

    .logo {
        width: 50%;
    }

    .bolsaIcono {
        width: 25px;
        height: 25px;
    }

    .menu{
        background-color: #ebebdb;
   
        @media screen and (max-width: 768px){
            top: 0;
            right: 0;
            width: 300px;
            padding-top: 3.5rem;
            border-bottom: solid 1px #c6b497;
            border-left: solid 1px #c6b497;
   
            
        }
    }
    .active {
        @media screen and (max-width: 768px){
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
   
        }
    }

    .menu li:hover .dropDown {
        display: block;
    }
        .dropDown {
            display: none;
            z-index: 1;
            width: 300%;
            background-color: #ebebdb;

            .itemCat {
                display: block;
                width: 110%;
                :hover {
                    background-color: #c6b497;
                    
                }
            }
        }
    }
    
}
